<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резюме</title>
</head>
<body>
    <h1>Resume</h1>
    <h2>Special information</h2>
    <p><strong>NS:</strong> Boiko Sofia Olehivna</p>
    <p><strong>Date of birth:</strong> 07.03.2004 (20 років)</p>
    <p><strong>Contacts:</strong> soffetsoffit@gmail.com, 0507659752</p>
    <h2>Work Expirience</h2>
    <p>I'm without work experience</p>
    <h2>Education</h2>
    <p><strong>University:</strong> Kharkov National Economic University named after Semyon Kuznets </p>
    <p><strong>Faculty:</strong>Information technologies</p>
    <p><strong>Level:</strong> 3</p>
    <h2>Skills</h2>
    <ul>
        <li>MySQL working</li>
        <li>Programming in Python language</li>
    </ul>

</body>
</html>